.App-container {
  background-color: #010101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.App-card {
  background-color: #010101;
  color: #fff;
}

.btn-flat {
  background-color: #1c17f3;
  color: white;
}
